.list-item-effect {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.list-item-effect:hover {
  transform: translateY(-2px);
  box-shadow:
    0 1px 5px #d0ccc4,
    0 4px 5px rgba(150, 150, 150, 0.08);
  filter: brightness(0.96);
}
